<div class="accounts-container">
    <div class="header-bar">
        <input type="text" placeholder="Buscar por número de cuenta" [(ngModel)]="searchAccount" />
        <button class="btn-primary" (click)="openAccountModal()">+ Nueva Cuenta</button>
    </div>

    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Número de Cuenta</th>
                    <th>DNI Cliente</th>
                    <th>Nombre Cliente</th>
                    <th>Tipo</th>
                    <th>Saldo Inicial</th>
                    <th>Estado</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of filteredAccounts()">
                    <td>{{ account.numberAccount }}</td>
                    <td>{{ account.clientIdentityDocument }}</td>
                    <td>{{ account.clientName }}</td>
                    <td>{{ account.accountType === 1 ? "Ahorros" : "Corriente" }}</td>
                    <td>{{ account.initialBalance }}</td>
                    <td>{{ account.status === true ? "Activa" : "Inactiva" }}</td>
                    <td>
                        <button class="btn-action" (click)="showModlClient(account)">Editar</button>
                        <span style="margin: 0 6px;"></span>
                        <button class="btn-danger small"
                            (click)="deleteAccount(account.numberAccount)">Desactivar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-backdrop" *ngIf="showAccountModal" (click)="closeAccountModal()">
    <div class="modal" (click)="$event.stopPropagation()">
        <h2>{{ isEditMode ? 'Editar Cuenta' : 'Nueva Cuenta' }}</h2>

        <form class="modal-form" [formGroup]="accountForm">
            <label for="numberAccount">Número de Cuenta</label>
            <input type="text" id="numberAccount" formControlName="numberAccount" [readonly]="isEditMode" required />
            <div *ngIf="accountForm.get('numberAccount')?.invalid && accountForm.get('numberAccount')?.touched"
                class="error">
                La cuenta solo puede contener numeros</div>

            <label for="accountType">Tipo de Cuenta</label>
            <select id="accountType" formControlName="accountType" required>
                <option value="" disabled>Seleccione tipo</option>
                <option value=1>Ahorros</option>
                <option value=2>Corriente</option>
            </select>

            <label for="initialBalance">Saldo Inicial</label>
            <input type="number" id="initialBalance" formControlName="initialBalance" required />
            <div *ngIf="accountForm.get('initialBalance')?.invalid && accountForm.get('initialBalance')?.touched"
                class="error">
                El saldo inicial debe ser mayor a 0</div>

            <label>Identificacion de Cliente</label>
            <div class="client-select">
                <input type="text" #clientIdInput formControlName="IdentityDocument"
                    placeholder="Identificacion del cliente" required />
                <div *ngIf="accountForm.get('IdentityDocument')?.invalid && accountForm.get('IdentityDocument')?.touched"
                    class="error">
                    El DNI debe ser solo numeros</div>
                <button type="button" class="btn-secondary" (click)="toggleClientSearch(clientIdInput.value)">Buscar
                    Cliente</button>
            </div>

            <label for="clientName">Nombre Cliente</label>
            <input type="text" id="clientName" formControlName="clientName" placeholder="Nombre del Cliente" readonly />

            <div class="modal-buttons">
                <button type="submit" class="btn-primary" (click)="isEditMode ? editAccount() : saveAccount()">
                    {{ isEditMode ? 'Editar Cuenta' : 'Guardar' }}
                </button>
                <button type="button" class="btn-danger" (click)="closeAccountModal()">Cancelar</button>
            </div>
        </form>
    </div>
</div>